<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
      <title> <%= resource[0].title %> </title>

      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/client-functions.js"></script>  
      <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <header>
    <% include partials/_navbar %>
  </header>

  <body>
    <h1>Hello One Resource!</h1>


    <% if (user && user.id === resource[0].user_id) { %>
      <section>
        <h3><input type="text" value="<%= resource[0].title %>"></h3>
        <h3>Description</h3>
        <p><textarea placeholder="<%= resource[0].description %>"></textarea></p>

        <h4>Topics</h4>
        <select>
          <option value="select">-Select-</option>
          <option value="food">Food</option>
          <option value="movie">Movie</option>
          <option value="sports">Sports</option>
        </select>

        <a href="<%= resource[0].url %>"><%= resource[0].url %></a>
        
        <form method="POST" action="/resources/new">
          <button class="btn btn-outline-secondary" name="update" type="submit">Update</button>
        </form>
      </section>

    <% } else if (user) { %>
      <section>
        <h2><%= resource[0].title %></h2>
        <h3>Description</h3>
          <p><%= resource[0].description %></p>

        <h4>#<%= resource[0].topic_id %></h4>
        
        <a href="<%= resource[0].url %>"><%= resource[0].url %></a>
      </section>
      <br>
      <br>
      <section>
        <h3>Comments</h3>
          <article class="comment-box">
            <form method="POST" action="/resources/:id">
              <h5>comments.user_id</h5>
              <p>comments.text</p>
              <button class="btn btn-outline-secondary" name="comment" type="submit">Comment</button>
            </form>
          </article>
        </section>
    
    <% } else { %>
      <section>
          <h3><%= resource[0].title %></h3>
          <h3>Description</h3>
            <p><%= resource[0].description %></p>
  
          <h4>#<%= resource[0].topic_id %></h4>
          
          <a href="<%= resource[0].url %>"><%= resource[0].url %></a>
        </section>
        <br>
        <br>
        <section>
          <h3>Comments</h3>
            <article class="comment-box">
                <h5>comments.user_id</h5>
                <p>comments.text</p>
            </article>
          </section>
    <% } %>
  
  </body>

</html>


