<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
      <title> <%= resource[0].title %> </title>

      <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
      <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
      <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/client-functions.js"></script>  
      <script type="text/javascript" src="/scripts/resources.js"></script>


  </head>

  <header>
    <% include partials/_navbar %>
  </header>

  <body>
    <% if (user && user.id === resource[0].user_id) { %>
      <section>
          <form method="POST" action="/resources/:id">
        <h2>Existing Title: <%= resource[0].title %></h2>
            <p><input type='text' name="title" placeholder="<%= resource[0].title %>"></p>
            <p>Existing Description: <br> <%= resource[0].description %></p>
            <p><textarea name ="description" placeholder="<%= resource[0].description %>"></textarea></p>
         
            <a href="<%= resource[0].url %>"><%= resource[0].url %></a>
            <br><br>
            <h4>Topics | #<%= resource[0].topic %></h4>
          <select name ="topic" class="select-topics">
            
          </select>
          <br>
          <br>
          
          <h3>Rating</h3>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <br>
          <br>
          <h3>Like</h3>
          <i class="far fa-thumbs-up"></i>
          <i class="far fa-thumbs-down"></i>
          <i class="far fa-heart"></i>

          <br>

            <button class="btn btn-outline-secondary" type="submit">Update</button>
          </form>
        </section>
        <br>
        <br>
        <section>
          <h3>Comments</h3>
            <article class="comment-box">
              <form method="POST" action="/resources/:id">
                <h5><%= resource[0].comment %></h5>
                <p><%= resource[0].comment %></p>
                <textarea placeholder="Leave a comment"></textarea>
                <button class="btn btn-outline-secondary" name="comment" type="submit">Comment</button>
              </form>
            </article>
          </section>

    <% } else if (user) { %>
      <section>
        <h2><%= resource[0].title %></h2>
        <h3>Description</h3>
          <p><%= resource[0].description %></p>

        <h4>#<%= resource[0].topic %></h4>
        
        <a href="<%= resource[0].url %>"><%= resource[0].url %></a>
      </section>
      <br>

      <h3>Rating</h3>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <br>
      <br>
      <h3>Like</h3>
      <i class="far fa-thumbs-up"></i>
      <i class="far fa-thumbs-down"></i>
      <i class="far fa-heart"></i>

      <br>
      <br>
      <section>
        <h3>Comments</h3>
          <article class="comment-box">
            <form method="POST" action="/resources/:id">
              <h5><%= resource[0].comment %></h5>
              <p><%= resource[0].comment %></p>
              <textarea placeholder="Leave a comment"></textarea>
              <button class="btn btn-outline-secondary" name="comment" type="submit">Comment</button>
            </form>
          </article>
        </section>
    
    <% } else { %>
      <section>
          <h3><%= resource[0].title %></h3>
          <h3>Description</h3>
            <p><%= resource[0].description %></p>
  
          <h4>#<%= resource[0].topic %></h4>
          
          <a href="<%= resource[0].url %>"><%= resource[0].url %></a>
        </section>
        <br>

        <h3>Rating</h3>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <br>
        <br>
        <h3>Like</h3>
        <i class="far fa-thumbs-up"></i>
        <i class="far fa-thumbs-down"></i>
        <i class="far fa-heart"></i>
        
        <br>
        <section>
          <h3>Comments</h3>
            <article class="comment-box">
                <h5><%= resource[0].comment %></h5>
                <p><%= resource[0].comment %></p>
            </article>
          </section>
    <% } %>
  
  </body>

</html>


