<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile | <%= pageuser.username %></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="stylesheet" href="/styles/custom.css" type="text/css" />
     <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/client-functions.js"></script>
    <script type="text/javascript" src="/scripts/topics.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

  </head>

  <header>
    <% include partials/_navbar %>
  </header>

  <body>
    <img src="<%= pageuser.avatar %>" class="user-avatar">

    <% if (user && user.username === username) { %>

      <div class="greeting">
      <h1>Hello <%= user.username %>!</h1>
      <a href='/users/<%=user.username%>/settings'>Edit Your Profile</a>
      </div>
      
      <h3 class="userLine">Your Property Cards %></h3>
        <br>
      <% resource.forEach(function(element, i) { %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><a href="../resources/<%=element.id%>"><%= element.title %></a></h5>
              <p class="card-text"><%= element.description %></p>
              <a href="<%= element.url %>" class="card-link" title = "<%= element.url %>">Link</a>
            </div>
          </div>
      <% }); %>

      <br><br>

      <h3 class="userLine">Your Collected Property Cards %></h3>
        <br>
      <% likedResource.forEach(function(element, i) { %>
          <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="../resources/<%=element.id%>"><%= element.title %></a></h5>
              <p class="card-text"><%= element.description %></p>
              <a href="<%= element.url %>" class="card-link" title = "<%= element.url %>">Link</a>
            </div>
          </div>
      <% }); %>


    <% } else { %>

    <div class="greeting">
      <h1>Welcome to <%= username %>'s Profile</h1>
    </div>


    <h3 class="userLine">
      <%= username %>'s Property Cards %></h3>
    <% resource.forEach(function(element, i) { %>
      <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="../resources/<%=element.id%>"><%= element.title %></a></h5>
          <p class="card-text"><%= element.description %></p>
          <a href="<%= element.url %>" class="card-link" title = "<%= element.url %>">Link</a>
        </div>
      </div>
    <% }); %>
    <br>

      <h3 class="userLine"><%= username %>'s Collected Property Cards</h3>
      <% likedResource.forEach(function(element, i) { %>
          <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="../resources/<%=element.id%>"><%= element.title %></a></h5>
              <p class="card-text"><%= element.description %></p>
              <a href="<%= element.url %>" class="card-link" title = "<%= element.url %>">Link</a>
            </div>
          </div>
      <% }); %>

    <% }; %>
  </body>
</html>


